<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Contact Details</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">         
        <div class="card"> <img class="card-img" src="assets/images/MNIT/ips.jpg" height="456" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <img src="assets/images/favicon/ipslogo.jpeg" class="img-circle" width="80">
                    <br>
                    <br>
                    <h4 class="card-title">Placement & Training Cell</h4>
                    <h6 class="card-subtitle">IPS Academy, Institute of Engineering & Science
                    <br>Knowledge Village, Rajendra Nagar A.B. Road, Indore-452012
                    <br>Madhya Pradesh, India</h6>
                    <!-- <p class="text-white"> Welcome to Placement and Training cell of IPS Academy Indore.  </p>-->
                    <small class="text-muted p-t-30 db">Phone</small>
                    <h6>+91-9229498055</h6>
                    <small class="text-muted p-t-30 db">Placements Relate Queries</small>
                    <h6>xyz@gmail.com</h6>
                    <small class="text-muted p-t-30 db">Placements Portal Relate Queries</small>
                    <h6>xyz@gmail.com</h6>
                </div>
            </div>
        </div>
    </div>
</div>
